SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

BACKEND_BASE_URL=http://localhost:8080
FRONTEND_BASE_URL=http://localhost:8081

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8080/auth/google/callback
GOOGLE_IDENTITY_REDIRECT_URI=http://localhost:8080/auth/google/login/callback

MOBILE_REDIRECT_URI=area://oauth

TOKENS_ENC_KEY=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://localhost:8080/auth/spotify/callback

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:8080/auth/slack/callback

DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
DISCORD_REDIRECT_URI=http://localhost:8080/auth/discord/callback
DISCORD_BOT_TOKEN=

NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
NOTION_REDIRECT_URI=http://localhost:8080/auth/notion/callback

EXPO_PUBLIC_API_URL=http://localhost:8080
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_OAUTH_REDIRECT_URI=area://oauth

VITE_API_URL=http://localhost:8080
VITE_GOOGLE_CLIENT_ID=

CLIENT_HOST=localhost

