node_modules
android/build
android/.gradle
android/app/build
ios/build
ios/Pods
.expo
*.log
.DS_Store
.env.local
coverage
.vscode
.idea
__tests__
node_modules
dist
*.log
.DS_Store
.env.local
coverage
.vscode
.idea
test
jest.config.ts

